{namespace outer.space}

{template .earth}
{/template}

{template .moon}
  {@param planet kind="string"}
  {@inject probe kind="string"}
  {let $shape: 'sphere' /}
  {msg}
    Planet: {$planet}
    Probe: {$probe}
    Shape: {$shape}
  {/msg}
{/template}

{template .mars}
{/template}

{template .moose_ visibility="private"}
{/template}
