{namespace outer.space}

{template .moon}
  {@param planet : string}
  {@inject probe : string}
  {let $shape: 'sphere' /}

  {msg desc="-"}
    Planet: {$planet}
    Probe: {$probe}
    Shape: {$shape}
  {/msg}
{/template}

{template .earth}{/template}
{template .mars}{/template}
{template .moose_ visibility="private"}{/template}
