{namespace foo}

{template .bar}
    {@param p: map<string, string>|list<int>}
    {call .bar}
        {param p: 'test' /}
    {/call}
    {$p?.field[1] < -3 ? null : 5 - 7}

    {let $status: $type == Type.ONE
            ? $isSubTypeA
                    ? Status.ONE_A
                    : $isSubTypeB
                            ? Status.ONE_B
                            : Status.UNKNOWN
            : Status.TOTALLY_UNKNOWN /}
{/template}
