{template .forStatement}
  {for $foo in $bar}
  {/for}

  {for $foo2 in $bar2}
    asd
  {/for}

  {for $foo3 in [1,2,3]}
    {call someTemplate /}
    {print $foo3}
    {call someOtherTemplate}
      {param f: 3/}
    {/call}
  {/for}
{/template}
