{template .simpleStatements}
  {css('%foo')}
  {css('foo-bar-baz')}
  {css('-foo-bar-baz-baz')}

  {lb}
  {rb}
  {sp}
  {nil}

  {xid(foo.bar)}
  {xid(bar)}
  {xid($bar)}
  {xid('foo.bar')}
  {css('foo')}
  {css('base', '%Foo')}
  {css($base, $Foo)}
  {literal}{/literal}
{/template}
