{template .simpleStatements}
  {css('%foo')}
  {css('foo-bar-baz')}
  {css('-foo-bar-baz-baz')}

  {lb}
  {rb}
  {sp}
  {nbsp}
  {nil}
  {\t}
  {\n}
  {\r}

  {xid(foo.bar)}
  {xid(bar)}
  {xid($bar)}
  {xid('foo.bar')}
  {css('foo')}
  {css('base', '%Foo')}
  {css($base, $Foo)}
  {literal}{/literal}
  <div {skip}></div>
  <div {key 1}></div>
  <div {key "1"}></div>
  <div {key $var}></div>
  <div {key $var1 + $var2 + $var3}></div>
{/template}
